.plus-icon {
    margin: 0 8px 0 0;
}

.popover-container {
    font-family: 'Roboto', sans-serif;

    margin: 10px;

    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}