.searchbox {
    width: 100%;
    max-width: 700px;

    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbox:hover {
    background-color: #f3f3f3;
}

.search-icon {
    color: #c0c0c0;
    margin: 0 10px;
}

.cogs-icon {
    font-size: 18px;
}