.searchbox {
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.searchbox .text-input {
    border: none;
    width: 100%;
}

.searchbox .text-input:focus {
    outline: none;
}

::placeholder {
    color: #c9c9c9;
    opacity: 1;
}
  
:-ms-input-placeholder {
    color: #c9c9c9;
}

::-ms-input-placeholder {
    color: #c9c9c9;
}

.searchbox .search-icon {
    margin: 0 10px;
}

.searchbox .cogs-icon {
    color: #c9c9c9;
    font-size: 18px;
}