/*.list-item-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: none;
}*/

.table-row {
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.table-row:hover {
    background-color: #eeeeee;
}

.action-icon {
    display: none;
    font-size: 15px;
    color: #fefefe;
}

.table-row:hover .action-icon {
    display: initial;
    font-size: 15px;
    color: #aaaaaa;
}

.tag-list {
    width: 50%;
    margin: 0px;
    padding: 0px;
}

.tag-badge {
    display: inline;

    padding: 2px 8px;
    margin-right: 5px;
    border-radius: 5px;

    color: #ffffff;
    background-color: #808080;
}