.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(114, 114, 114, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 600px;
    height: 400px;

    border-radius: 10px;

    background-color: #ffffff;

    -webkit-box-shadow: 0px 5px 15px -1px rgba(0,0,0,0.37); 
    box-shadow: 0px 5px 15px -1px rgba(0,0,0,0.1);
}